.App {
  margin-right: 10%;
  margin-left: 10%;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  background-color: #f8f6ed; 
  font-family: 'Raleway', sans-serif;
  height: 1000em;
}

.main {
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.header {
  color: #0f0b08;
  text-align: left;
}

.card {
  width: 50rem;
  min-height: 18rem;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  display: flex;
}

.card-img{
 
}
.card img {
  height: 15em;
  width:  15em;
}

.card-title {
  font-weight: bold;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4em;
}

.form-container {
  width: 50vw;
  display: flex;
  justify-content: center;
}

.title {
  text-align: left;
}

.ranking-container {
  display: flex;
  
}

.form-check {
  margin-left: 1em;
  margin-right: 1em;
}

.form-check-label {
  margin-left: .5em;
}