.App {
  margin-right: 10%;
  margin-left: 10%;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  background-color: #f8f6ed; 
  font-family: 'Raleway', sans-serif;
  height: 1000em;
}

.main {
  height: 100%;
  padding: 2em;
}

.header h1 {
  color: #0f0b08;

}

.header p {
  margin-right: 15%;
  margin-left: 15%;
}
.card {
  width: 18rem;
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
}

.card img {
  height: 10em;
  width:  10em;
}

.card-title {
  font-weight: bold;
}
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}