.App {
  margin-right: 10%;
  margin-left: 10%;
  font-family: 'Raleway', sans-serif;
  height: 1000em;
}

.body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  color: #0f0b08;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  border-bottom: 1px solid #d9d9d9;
}

.description-section {
  margin-top: 2em;
  text-align: left;
}

.hot-spots, .search-header {
  font-size: 1.5em;
  margin-top: 2em;
}

.main-content {
  display: flex;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.card {
  width: 90%;
  min-height: 15em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1%;
  margin: 1em;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.card-body {
  text-align: left;
  margin: 2em;
}

.card img {
  max-height: 14em;
}

.card-title {
  font-weight: bold;
}

.card-address {
  color: #999999;
}

.search {
  display: flex;
  justify-content: left;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.search-container p, .form-container p {
  font-weight: bold;
  text-align: left;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1%;
  padding: 1em;
  width: 90%;
  margin-top: 10em;
  margin-left: 5%;
  margin-right: 5%;
}